:root {
    --color1: #060c18;
    --color2: #de5e53;
    --color3: #393641;
    --color4: #d26d75;
    --color5: #2c3447;
    --color6: #ff1949;
  }
  
#form-section {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 8rem 0 30rem 0;
    height: 420.703px;
    /* background-color: rgb(64, 255, 143); */
  }
  
  section#form-section > h1 {
    font-size: 2em;
    color: var(--color1);
  }
  
  .form {
    width: 30rem;
    /* background-color: #23262c; */
    padding: 2rem;
  }
  
  .form__label {
    font-size: .8em;
    color: var(--color1);
    font-weight: bolder;
  }
  
  .form__label::after {
    content: ' *';
    color: red;
  }
  
  .form__input {
    border: none;
    outline: none;
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.185);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: var(--color1);
    transition: border .2s ease-in;
  }
  
  .form__input:focus {
    transition: border .2s ease-in;
    border: 1px solid var(--color4);
  }
  
  .form__submit-buttom {
    width: 100%;
    background-color: #ff1949;
    padding: 13px 20px;
    border-radius: 5px;;
    outline: none;
    border: none;
    color: white;
    font: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .form__submit-buttom:hover {
    background-color: aqua;
      transition: background-color 0.3s;
  }
  
  .form__links {
    /* background-color: #2c3447; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: .8rem;
  }
  
  .links__first,
  .links__second {
    font-size: .8rem;
    font-weight: 700;
  }
  
  .links__first {
    color: var(--color6);
    transition: color .8s ease;
  }
  
  .links--state-hover:hover {
    color: rgba(0, 255, 255, 0.815);
    transition: color .8s ease;
  }
  
  .links__second {
    color: var(--color3);
  }