.header:not(header.no-inheritance) {
  width: 100%;
  height: fit-content;
  background-image: url("../images/bg_header.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__div {
  width: 63rem;
  gap: 2rem;
  padding: 0.3rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.header__div__sectionLeft {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 13px;
}

.header__div__sectionLeft__contacts p:last-child,
.header__div__sectionLeft__address p:last-child,
.header__div__sectionLeft__addressEmail p:last-child {
  font-weight: bold;
}

.header__div__sectionRight {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header__div__sectionRight a {
  text-decoration: none;
}

@media screen and (max-width: 646px) {
  
  .header__div {
    display: flex;
    justify-content: center;
    height: 4rem;
  }

  
  .header__div__sectionLeft {
    display: none;
  }

  
  .header__div .header__div__sectionLeft {
    display: none;
  }
}
