:root {
  --color1: #060c18;
  --color2: #de5e53;
  --color3: #393641;
  --color4: #d26d75;
  --color5: #2c3447;
}

.noticias {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

header:not(header:first-child) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

header > .header-noticias {
  width: 63rem;
  gap: 2rem;
  padding: 0.3rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  border-bottom: 1px solid var(--color1);
}

header > .header-noticias > h1 {
  color: var(--color1);
  font-size: 2.3125em;
  text-transform: uppercase;
}

header > .header-noticias > h1 + a {
  color: white;
  background-color: #ff1949;
  padding: 10px;
  font-size: 1em;
  /* font-weight: bold; */
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

header > .header-noticias > h1 + a:hover {
  /* background-color: #0eb582; */
  transition: background-color 0.3s ease-in-out;
}

section.noticias {
  width: 100%;
  height: auto;
  /* background: #566964; */
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

section.noticias > .section-content {
  max-width: 64rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

section.noticias > .section-content  .card {
  background-color: #ffffff;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  height: auto;
  transition: transform .5s ease-in-out;
  box-shadow: 3px 6px 9px 1px #060c1821;
}

section.noticias > .section-content  .card:hover {
  transform: translateY(-13px);
  transition: transform .5s ease-in-out;
}

section.noticias > .section-content  .card > .banner {
  width: 100%;
  height: 10rem;
  background-image: url('../images/Flag_of_Angola.svg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
} 

/* section.noticias > .section-content  .card > .banner > .info-container {
  
} */

section.noticias > .section-content > .card > .banner > .info-container > .info-content {
  position: absolute;
  bottom: 0;
  background-color: var(--color1);
  width: 90%;
  padding: 4px;
  border-radius: 5px 5px 0 0;
  cursor: default;
}

section.noticias > .section-content > .card > .banner > .info-container > .info-content > p {
  color: #ffff;
  font-size: 12px;  
  font-weight: 500;
}

section.noticias > .section-content > .card > .banner + p {
  position: relative;
  bottom: 0;
  z-index: 2;
}

section.noticias > .section-content > .card > .banner + .data-info {
  position: absolute;
  bottom: 0;
  top: 11rem;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

section.noticias > .section-content > .card > .banner + .data-info > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

section.noticias > .section-content > .card > .banner + .data-info > img + time {
  font-size: 13px;
  color: var(--color1);
  height: fit-content;
  height: 15px;
}

section.noticias > .section-content > .card > .banner + .data-info + .card-container {
  /* background-color: deeppink; */
  height: auto;
  margin-top: 12rem;
}

section.noticias > .section-content > .card > .banner + .data-info + .card-container > .card-content {
  position: relative;
  /* bottom: 10rem; */
}

section.noticias > .section-content > .card > .banner + .data-info + .card-container > .card-content > p {
  color: var(--color1);
  font-weight: 500;
}

.card-btn {
  color: #ff1949;
  float: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

#banner2 {
  width: 100%;
  height: 10rem;
  background-image: url('../images/flag-of-china.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

#banner3 {
  width: 100%;
  height: 10rem;
  background-image: url('../images/flag-of-italy.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

#banner4 {
  width: 100%;
  height: 10rem;
  background-image: url('../images/flag-of-angola-1.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

#banner5 {
  width: 100%;
  height: 10rem;
  background-image: url('../images/STIPENDIUM\ HUNGARICUM.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

menu {
  width: 50%;
  height: 100vh;
}

@media screen and (max-width: 710px) {
  .noticias {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  header:not(header:first-child) {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
    /* background-color: darkviolet; */
  }

  header > .header-noticias {
    width: 100%;
    cursor: default;
    border-bottom: 1px solid var(--color1);
    display: flex;
    justify-content: center;
  }
  
  header > .header-noticias > h1 {
    font-size: 1.5em;
  }
  
  header > .header-noticias > h1 + a {
    display: none;
  }

  section.noticias > .section-content {
    max-width: 64rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 3rem;
  }
}