.slider {
    margin: 0 auto;
    width: 100%;
    padding: 0 !important;
    overflow: hidden;
}

.slider__content {
    width: 400%;
    height: auto;
    display: flex; 
}

.slider__content__input, .slide-box__img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box__img-desktop,
.slide-box__img-mobile {
    width: 100%;
}

.manual-nav, 
.auto-nav {
    position: absolute;
    width: 100%;
    margin-top: 44%;
    display: flex;
    justify-content: center;
}

.manual-nav .manual-btn, .auto-nav  div {
    border: 1px solid #ff1949;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer; 
    transition: .3s;
}

.manual-nav .manual-btn:not(:last-child), .auto-nav div:not(:last-child) {
    margin-right: 10px;
}

.manual-nav .manual-btn:hover {
    background-color: #ff1949;
}

#radio1:checked ~ .auto-nav .auto-btn1, #radio2:checked ~ .auto-nav .auto-btn2, #radio3:checked ~ .auto-nav .auto-btn3 {
    background-color: #ff1949;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

@media screen and (max-width: 600px) {
    .slide-box__img-desktop {
        display: none;
    }
    .slide-box__img-mobile {
        display: block;
    }

    .auto-nav, .manual-nav {
        margin-top: 55%;
    }
}